#home {
    width: 100%;
    min-height: 100vh;
    padding-bottom: 75px;
    background: linear-gradient(0deg, rgba(252, 254, 252, 0.5), rgba(252, 254, 252, 0.5)),
        no-repeat center/cover url('./../images/bg-smash.jpg');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}


.content {
    width: 100%;
}