#smashOneGame {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.game-banner {
    position: relative;
    width: 100%;
    height: 25rem;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-banner-title {
    color: var(--secondary-color);
    font-size: var(--title-size-desktop);
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 4px var(--primary-color);
}

.game-banner-date {
    position: absolute;
    bottom: 1rem;
    color: var(--secondary-color);
    font-size: var(--subtitle-size-desktop);
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 4px var(--primary-color);
}

.game-trailer {
    position: relative;
    overflow: hidden;
    width: 80%;
    padding-top: 45%;
}

.game-trailer iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.game-text {
    white-space: break-spaces;
    width: 80%;
    color: var(--primary-color);
    font-size: var(--font-size-desktop);
    font-weight: 500;
}

.game-gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-bottom: 1rem;
}

.game-gallery-title {
    color: var(--primary-color);
    font-size: var(--subtitle-size-desktop);
    font-weight: bold;
}

.game-gallery-image {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.game-gallery-image img {
    width: 25%;
}

.game-characters {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-bottom: 1rem;
}

.game-characters-title {
    color: var(--primary-color);
    font-size: var(--subtitle-size-desktop);
    font-weight: bold;
}

.game-characters-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 0 10% 0 10%;
}

.game-characters-list img {
    width: 18%;
    transform-origin: center;
    transform: scale(1) translateZ(0);
    transition:
        filter 200ms linear,
        transform 200ms linear;
        flex: 0 1 calc(20% - 8px);
}

.game-characters-list img:hover {
    transform: scale(1.10) translateZ(0);
}

.game-comments{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding-bottom: 1rem;
    width: 100%;
}

.game-comments-title {
    color: var(--primary-color);
    font-size: var(--subtitle-size-desktop);
    font-weight: bold;
}

.game-comments-item {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    width: 80%;
    padding: 0.5rem 0.5rem 0.7rem 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.game-comments-pseudo {
    color: var(--primary-color);
    font-size: var(--font-size-desktop);
    font-weight: 600;
}

.game-comments-text {
    color: var(--primary-color);
    font-size: var(--font-size-desktop);
}
