#smashCharacters {
    width: 100%;
    height: 100%;
}

/*
.characters-gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding-bottom: 1rem;
    padding: 0 10% 0 10%;
}

.characters-gallery-title {
    color: var(--primary-color);
    font-size: var(--title-size-desktop);
    font-weight: bold;
}

.characters-gallery-image {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.characters-gallery-image img {
    width: 25%;
    transform-origin: center;
    transform: scale(1) translateZ(0);
    transition:
        filter 200ms linear,
        transform 200ms linear;
}

.characters-gallery-image img:hover {
    transform: scale(1.10) translateZ(0);
}
*/


.characters-gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-bottom: 1rem;
}

.characters-gallery-title {
    color: var(--primary-color);
    font-size: var(--subtitle-size-desktop);
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.characters-gallery-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.character_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.characters-gallery-list-item {
    width: 15rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.characters-gallery-list-item img {
    max-width: 100%;
    width: auto;
    height: 15rem;
    transition:
        filter 200ms linear,
        transform 200ms linear;
}

.characters-gallery-list-item:hover img {
    transform: scale(1.10) translateZ(0);
}

.characters-gallery-list-name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--secondary-color);
    font-size: var(--menu-item-size-desktop);
    font-weight: bold;
    text-shadow: 2px 2px 4px var(--primary-color);
    text-align: center;
}


.characters_action_buttons_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.characters_action_buttons_container .button {
    width: 100%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.characters_action_buttons_container .button.delete {
    background-color: var(--error-color);
}

.add_btn_container {
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.form_container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#add_character_form, #edit_character_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
}

#add_character_form input[type=text], #edit_character_form input[type=text] {
    width: 20rem;
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    padding: 0.5rem;
}

#add_character_form button, #edit_character_form button {
    width: 20rem;
    border: none;
    background-color: var(--tertiary-color);
    padding: 0.5rem;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
}

.container_error {
    display: none;
    max-width: 75%;
    min-height: 2rem;
    border-radius: 4px;
    background-color: var(--error-color);
    padding: 1rem 0.5rem;
    margin: 1rem;
}

.container_error.active {
    display: block;
}

.container_error p {
    font-weight: bold;
    color: var(--primary-color);
}

.container_success {
    display: none;
    max-width: 75%;
    min-height: 2rem;
    border-radius: 4px;
    background-color: var(--success-color);
    padding: 1rem 0.5rem;
    margin: 1rem;
}

.container_success.active {
    display: block;
}

.container_success p {
    font-weight: bold;
    color: var(--primary-color);
}